.container {
    background-color: white;
    padding: 20px 50px 20px 50px;
}
.component-wrapper {
    background-color: rgb(217, 217, 217);
    margin: 20px;
}
.list-name {
    width: 500px;
    background-color: white;
    padding: 10px;
    }
.list-input button {
    min-width: 150px;
    background: #2c2c2c !important;
    border-radius: 0;
    line-height: 20px;
}
.dropzone {
    width: 500px;
    height: 100px;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.selected-list-item {
    color: black;
    font-size: 14px;
}

.list-item {
    color: #919191;
    font-size: 14px;
}
.list-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nxt-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 160px;
}
