.error {
    color: red;
    font-size: 14px;
}

.btn-next {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}

.btn-next .btn {
    min-width: 100px;
}