@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');


body main {
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Libre Baskerville', serif;
}

.tag-line {
    font-size: 14px;
}
main {
    position: relative;
}
.editor-element iframe {
    min-width: 500px !important;
    min-height: 400px !important;
}
.nxt-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 160px;
}
.date-format {
    width: 40%;
    min-width: 200px;
    background: #fff;
    position: relative;
}
/*.rdt input[type="text"] {*/
    /*width: 230px;*/
    /*background: #ffffff;*/
/*}*/
/*.rdtPicker input[text] {*/
    /*width: 230px;*/
    /*background: #ffffff;*/
/*}*/
.date-format h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.list-input input[type="text"] {
    width: 230px;
    background: #fff;
    padding: .375rem .75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
label {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.log-out {
    float: right;
}
